.main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  gap: 40px;

  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 768px) {
    & {
      gap: 0; 
      margin-top: 10px;
      margin-bottom: auto;
    }
  }

  .video {
    width: 140px;
    height: auto;

    filter: brightness(100%) saturate(100%) contrast(120%);
    mix-blend-mode: screen;
    isolation: isolate;
    
    @media only screen and (max-width: 768px) {
      & {
        width: 100px;
      }
    }
  }
}
